* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #5f5d5d;
}

html {
    font-size: 62.5;
}

/* HEADER LOGO */
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    height: 6rem;
}

header .header__a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #adc743;
    padding: 0 1rem;
}

header .header__a h1 {
    font-weight: normal;
    font-size: 1.5rem;
    color: #fff;
}

header .header__a span {
    /* color: #000; */
    padding-top: .5rem;
}

/* HEADER NAVBAR */

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-right: 5%;
}

header nav li {
    list-style: none;
    
}

header nav li a {
    /* color: #000000; */
    text-decoration: none;
    transition: .4s;
    font-size: 1.2rem;
}

header nav li a:hover {
    color: #0000005b;
}

.apagarnavbar {
    color: #0000005b;
}
body .opacidad {
    filter: opacity(100%);
    transition: 1s;
}
body .encendido {
    display: block;
}
body .encendido1 {
    display: grid;
}

/* CUERPO DE LA PAGINA #1 */

/* PARTE SUPERIOR */
.mainpage1 {
    width: 100%;
    height: auto;
    transition: 1s;
    filter: opacity(0%);
    display: none;
}

.mainpage1 .main__section1 {
    background-image: url('./img/comidasverdes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 37rem;
    position: relative;
}

.mainpage1 .main__section1 div {
    background-color: #ffffffce;
    width: 25%;
    height: 100%;
    position: absolute;
    left: calc(50% - 42.2%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainpage1 .main__section1 div h2 {
    font-size: 2.5rem;
    width: 50%;
    font-weight: normal;
}

.mainpage1 .main__section1 div a {
    font-size: 1.1rem;
    margin: 3rem 0 0 0;
    text-decoration: none;
    color: #fff;
    background-color: #adc743;
    padding: .8rem 1rem;
    transition: 1s;
}

.mainpage1 .main__section1 div a:hover {
    background-color: #899c40;
}

/* PARTE INFERIOR */

.mainpage1 .main__section2 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(28, 4.5rem);
    width: 80%;
    margin: 0 auto;
}

/* IMG CHICA*/
.mainpage1 .main__section2 .chica{
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / 5;
    grid-row: 1 / 7;
}


/* AREA CONOCE RAQUEL */

.mainpage1 .main__section2 .section2__article1 {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 5 / 12;
    grid-row: 1 / 7;
}

.mainpage1 .main__section2 .section2__article1 div {
    width: 60%;
}

.mainpage1 .main__section2 .section2__article1 div h2 {
    font-weight: normal;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.mainpage1 .main__section2 .section2__article1 div p {
    margin-bottom: 2.6rem;
    font-size: 1rem;
}

.mainpage1 .main__section2 .section2__article1 div a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #b1c94d;
}

/* AREA BLOG */

.mainpage1 .main__section2 .blog {
    height: 100%;
    width: 100%;
    background-color: #aca298;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .4s;
    grid-column: 3 / 5;
    grid-row: 7 / 9;
}

.mainpage1 .main__section2 .blog:hover {
    background-color: #706961;
}

.mainpage1 .main__section2 .blog h3 {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
}

/* AREA RESETAS Y CONSEJOS */

.mainpage1 .main__section2 .section2__article2 {
    background-color: #adc743;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 5 / 12;
    grid-row: 7 / 11;
}

.mainpage1 .main__section2 .section2__article2 div {
    width: 70%;
    height: 50%;
    display: inline-block;
    color: #fff;
}

.mainpage1 .main__section2 .section2__article2 div a {
    color: #fff;
    text-decoration: none;
}

.mainpage1 .main__section2 .section2__article2 div a h2 {
    font-weight: normal;
    font-size: 1.7rem;
}

.mainpage1 .main__section2 .section2__article2 div p {
    margin-top: 1.2rem;
    font-size: 1rem;
}

/* IMG ENSALADAS */

.mainpage1 .main__section2 .ensaladas {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column: 1 / 10;
    grid-row: 11 / 18;
}


/* AREA SERVICIOS */

.mainpage1 .main__section2 .servicios {
    height: 100%;
    width: 100%;
    background-color: #adc743;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .4s;
    grid-column: 5 / 7;
    grid-row: 18 / 20;
}

.mainpage1 .main__section2 .servicios:hover {
    background-color: #899c40;
}

.mainpage1 .main__section2 .servicios h3 {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
}

/* AREA Asesoramiento de Nutrición Familiar & Grupal  */

.mainpage1 .main__section2 .section2__article3 {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 7 / 12;
    grid-row: 18 / 22;
}

.mainpage1 .main__section2 .section2__article3 div {
    width: 70%;
    height: 70%;
    display: inline-block;
    /* color: #000; */
}

.mainpage1 .main__section2 .section2__article3 div a {
    /* color: #000; */
    text-decoration: none;
}

.mainpage1 .main__section2 .section2__article3 div a h2 {
    font-weight: normal;
    font-size: 1.7rem;
}

.mainpage1 .main__section2 .section2__article3 div p {
    margin-top: 1.2rem;
    font-size: 1rem;
}

/* AREA ensafrutas */

.mainpage1 .main__section2 .ensafrutas {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-column: 1 / 7;
    grid-row: 21 / 29;
}









/* CUERPO DE LA PAGINA #2 */

/* AREA SOBRE RAQUEL */
.mainpage2 {
    display: none;
    transition: 1s;
    filter: opacity(0%);
}
.mainpage2 div h2 {
    background-image: url('./img/table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage2 div h2 {
    font-size: 3.2rem;
    color: #fff;
}

/* CONTENEDOR GRID */
.mainpage2 .mainpage2__section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 5rem);
    min-width: 760px;
    width: 80%;
    margin: 0 auto;
}

/* AREA IMG */


.mainpage2 .mainpage2__section img {
    height: 100%;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 1 / 5;
    object-fit: cover;
}

/* AREA MI HISTORIA */

.mainpage2 .mainpage2__section .section__section1 {
    height: 100%;
    width: 100%;
    grid-column: 6 / 13;
    grid-row: 1 / 8;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage2 .mainpage2__section section div {
    
    display: inline-block;
    height: 80%;
    width: 75%;
}

.mainpage2 .mainpage2__section section div h3 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.mainpage2 .mainpage2__section section div p {
    font-size: 1.1rem;
}

/* AREA ESECIALIDADES */

.mainpage2 .mainpage2__section .section__section2 {
    background-color: #aca298;
    height: 100%;
    width: 100%;
    grid-column: 2 / 6;
    grid-row: 5 / 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainpage2 .mainpage2__section .section__section2 h3 {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.mainpage2 .mainpage2__section .section__section2 span {
    color: #fff;
    margin-bottom: 1.5rem;
}





/* CUERPO DE LA PAGINA #3 */

.mainpage3 {
    filter: opacity(0%);
    display: none;
}

/* AREA SERVICIOS */

.mainpage3 div h2 {
    background-image: url('./img/table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage3 div h2 {
    font-size: 3.2rem;
    color: #fff;
}

/* AREA BOTONES */

.mainpage3 .mainpage3__botones {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.mainpage3 .mainpage3__botones .botones__div {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 13rem;
    position: absolute;
}

.mainpage3 .mainpage3__botones .botones__div a {
    /* color: #000; */
    text-decoration: none;
    text-align: center;
    height: auto;
    width: 100%;
    margin: 0 .8rem;
    font-size: 1.2rem;
}

.mainpage3 .mainpage3__botones .botones__div .ani1 {
    height: .1rem;
    width: 100%;
    background-color: #d2d2d2;
    position: absolute;
    bottom: 0;
}

.mainpage3 .mainpage3__botones .botones__div .ani2 {
    height: .2rem;
    width: 50%;
    background-color: #adc743;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

.left {
    left: calc(0% - 0%);
}

.right {
    left: calc(100% - 50%);
}






/* CONSULTORIA */

.mainpage3 .mainpage3__productos {
    /* margin-top: 3rem; */
    min-width: 760px;
    width: 90%;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;
}
.grid-cons {
    grid-template-rows: repeat(2, 27rem);
    filter: opacity(0%);
    display: none;
}

.grid-clases {
    grid-template-rows: repeat(1, 27rem);
    filter: opacity(0%);
    display: none;
}

.a1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.a2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.a3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.a4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.a5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.a6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.mainpage3 .mainpage3__productos .productos__div {
    height: 100%;
    width: 100%;
    border: 1px solid #d2d2d2;
}

.mainpage3 .mainpage3__productos .productos__div img {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.mainpage3 .mainpage3__productos .productos__div img:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.mainpage3 .mainpage3__productos .productos__div div {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainpage3 .mainpage3__productos .productos__div div h3 {
    cursor: pointer;
    margin-bottom: 1rem;
    width: 10rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
    /* color: #000000; */
    transition: .4s;
}

.mainpage3 .mainpage3__productos .productos__div div h3:hover {
    color: #00000071;
}

.mainpage3 .mainpage3__productos .productos__div div span {
    margin-bottom: 1rem;
}

.mainpage3 .mainpage3__productos .productos__div div a {
    margin-bottom: 2.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #adc743;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.mainpage3 .mainpage3__productos .productos__div div a:hover {
    background-color: #c5d77a;
}



/* CLASES */







/* CUERPO DE LA PAGINA #4 */

.mainpage4 {
    filter: opacity(0%);
    display: none;
}

.mainpage4 .main__div h2 {
    background-image: url('./img/table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage4 .main__div h2 {
    font-size: 3.2rem;
    color: #fff;
}
.mainpage4__contenedor {
    min-width: 760px;
    width: 70%;
    margin: 0 auto;
}

.mainpage4__contenedor .main__buscar {
    height: 6rem;
    width: 100%;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec {
    background-color: #f0f0f0;
    display: flex;
    height: 23rem;
    margin-top: 2rem;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec img {
    object-fit: cover;
    width: 50%;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec .section__conte {
    width: 50%;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec .section__conte h3 {
    font-size: 2rem;
    font-weight: normal;
    margin: 3rem 3rem 1rem 3rem;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec .section__conte p {
    font-size: 1.2rem;
    margin: 1rem 3rem 1rem 3rem;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec .section__conte .raya {
    background-color: #c6c6c6;
    height: 1px;
    margin: 0rem 3rem 0rem 3rem;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec .section__conte .vistas {
    margin: 0 1rem;
    margin: 1rem 3rem 1rem 3rem;
}

.mainpage4 .mainpage4__contenedor .contenedor__contenido .contenido__sec .section__conte .vistas span {
    margin: 0 1rem;
}




/* CUERPO DE LA PAGINA #5 */





.mainpage5 {
    filter: opacity(0%);
    display: none;
}

.mainpage5 .main__div h2 {
    background-image: url('./img/table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage5 .main__div h2 {
    font-size: 3.2rem;
    color: #fff;
}

.mainpage5 section {
    /* background-color: red; */
    min-width: 760px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 5rem);
}

.mainpage5 section .mainpage5__contacto {
    background-color: #f0f0f0;
    grid-column: 1 / 7;
    grid-row: 1 / 6;
}

.mainpage5 section .mainpage5__contacto p {
    margin: 4.5rem 4rem 3rem 4rem;
}

.mainpage5 section .mainpage5__contacto h3 {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 0 4rem 1.5rem 4rem;
}

.mainpage5 section .mainpage5__contacto div {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
}

/* MAPA */
.mainpage5 section .mainpage5__map {
    background-color: blue;
    grid-column: 7 / 11;
    grid-row: 3 / 8;
}

.mainpage5 section form {
    background-color: #adc743;
    grid-column: 2 / 7;
    grid-row: 6 / 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainpage5 section form .textarea {
    width: 90%;
    height: 8rem;
    
    margin: .3rem 0;
}

.mainpage5 section form label {
    width: 90%;
    height: 2.1rem;
    margin: .4rem 0;
}

.mainpage5 section form label input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 1rem;
}

.mainpage5 section form label input:hover, .mainpage5 section form label textarea:hover {
    border: 1px solid #899c40;

}

.mainpage5 section form label input:focus, .mainpage5 section form label textarea:focus {
    border: 1px solid #899c40;
    outline: none;
}

.mainpage5 section form label textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 1rem;
}


.mainpage5 section form .submit {
    background-color: #aca298;
    color: #fff;
    height: 2rem;
    width: 7rem;
    border: none;
    font-size: 1.5rem;
    margin-top: .5rem;
}


.mainpage5 section form .submit:hover {
    background-color: #706961;
}















/* FOOTER DE LA PAGINA */

footer {
    width: 100%;
    height: 15rem;
    background-image: url('./img/table.jpg');
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%;
    margin-top: 1rem;
    

}

footer section {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer .se {
    height: 50%;
    width: .1rem;
    background-color: rgb(255, 255, 255);
}

footer .section1 span {
    display: inline-block;
    color: #fff;
}

footer .section2 span{
    margin-top: 1rem;
    color: #fff;
}

footer .section2 h3{
    font-size: 1.5rem;
    color: #fff;
}

footer .section3 span{
    color: #fff;
}




